/* .navbar {
  width: 100%;
  background-color: rgb(234, 217, 217);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(21, 50, 215);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(225, 24, 10);
}

.active {
  background-color: #04aa6d;
} */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    color: aqua;
  }
}
.newspaper {
  column-count: 6;
  column-gap: 90px;
  column-rule-style: double;
  column-rule-width: 9px;
  font-size: x-small;
  margin-left: 9%;
  margin-right: 9%;
  color: rgb(89, 89, 93);
  /* background-image: url("/img/wood.jpg");opacity: .7; */

  border-color: rgb(215, 128, 13);
  bottom: 6%;
  top: 4%;
  padding: 4%;
  box-shadow: rgba(69, 35, 105, 0.799) 30px 10px 80px 4px;
}
/* div:hover {
  width: 100px;
} */
body {
  background-color: rgb(241, 241, 241);
  width: 90%;
  margin-top: 0%;
  margin-left: 4%;
  margin-bottom: 2%;
  margin-right: 6%;
}
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.text-block {
  position: absolute;
  /* width: 2px; */
  background-color: rgba(213, 206, 215, 0.937);
  background-image: url();
  color: rgb(41, 5, 56);
  display: flex;
  padding-right: 10px;
  padding-left: 20%;
  margin-right: 15%;
  margin-bottom: 17%;
  margin-left: 25%;
  border-radius: 0% 0% 0% 0%;
  margin-top: 7%;
  width: 27%;
  height: 16%;
  opacity: 0.6;
  font-size: large;
  text-decoration: underline;
  text-shadow: rgba(20, 20, 1, 0.888) 7px 9px 6px;
  box-shadow: rgba(44, 2, 151, 0.464) 88px 100px 100px 60px;
}
img {
  border-radius: 5%;
  background-position: center;
  margin: 1%;
  padding: 1%;
  box-shadow: 40px 30px 30px 20px rgba(53, 53, 3, 0.765);
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  /* height: 200px;
    width: 200px; */
  /* background-color: rgba(168, 214, 0, 0.425); */
  background-image: conic-gradient(
    rgba(142, 3, 193, 0.751) 45deg,
    rgba(88, 137, 8, 0.413) 90deg,
    rgba(56, 79, 137, 0.523) 210deg
  );
}

.footer {
  background-color: #ae452129;
  /* background-image: url(css/img/red.jpg); */
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: rgb(12, 11, 1) 10px 15px 4px 4px;
  margin-bottom: 1%;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
}
.footer-title {
  font-size: 1rem;
  margin: 1rem 0;
}
.footer > ul > li {
  line-height: 1;
}

.container-oma {
  /* position: absolute; */
  /* width: 2px; */
  /* height: 4px; */
  /* margin: 70px auto 0 auto; */
  /* padding-left: 10%; */
  /* perspective: 1000px; */
  /* margin-bottom: -20%; */
  /* margin: 7; */
  /* text-align: center; */
  color: #a39191;
  /* padding-bottom: 10%; */
  /* text-align: right; */
  /* padding-top: -10%; */
}

.carousel {
  position: absolute;
  width: 90%;
  height: 90%;
  transform-style: preserve-3d;
  animation: rotate360 26s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 210px;
  height: 150px;
  top: 20px;
  left: 10px;
  right: 10px;
  padding-left: 0%;
  padding: 0%;
  background-size: cover;
  box-shadow: inset 0 0 06 2000px rgba(0, 1, 0, 0.461);
  display: flex;
}

span {
  margin: auto;
  font-size: 1rem;
}

.carousel__face:nth-child(1) {
  background-image: url("/img/bona2.jpg");
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("/img/logooo3.jpg");
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  background-image: url("/img/majeed.jpg");
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  background-image: url("/img/coofee.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("/img/bona2.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("/img/logooo3.jpg");
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  background-image: url("/img/logoo.jpeg");
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  background-image: url("/img/mami3.jpg");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("/img/hamada.jpg");
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.mySlides {
  display: none;
}
img {
  margin-top: 9%;
  vertical-align: right;
  margin-left: 12%;
  box-shadow: rgb(156, 151, 151) 50px 28px 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  /* position: relative; */
  margin: 12px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 5%;
  padding: 10px;
  border-color: rgb(47, 174, 22);
  margin-top: -22px;
  color: rgb(218, 142, 2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 10px;
  /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
  right: 100px;
  height: 7%;
  border-radius: rgba(239, 16, 202, 0.532) 3px 10 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(225, 253, 11);
}

/* Caption text */
/* .text {
  font-size: xx-large;
  color: #559f00;
  font-size: 30px;
  bottom: 108px;
  width: 100%;
  position: relative;
  padding-left: 18%;
  text-shadow: rgb(73, 68, 5) 3px 2px 1px;
} */

.numbertext {
  color: #10eb0df5;
  font-size: 12px;
  padding: 8px 12px 10px;
  /* position: absolute; */
  top: 10px;
}

.dot {
  cursor: pointer;
  /* position: relative; */
  height: 20px;
  width: 20px;
  background-color: rgb(138, 201, 12);
  border-radius: 50%;
  display: inline-block;
  border-radius: 40% 10%;
  transition: 0.6s ease;
  box-shadow: rgb(185, 23, 23) 2px 5px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.active,
.dot:hover {
  background-color: #aa00de;
}

Fading animation .fade {
  animation-name: fade;
  animation-duration: 1.8s;
  animation-fill-mode: backwards;
}
@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 8;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 450px) {
  .prev,
  .next,
  .text {
    font-size: 10px;
  }
}
